/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
/.phpunit.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/public/assets
/public/uploads
/public/fonts
/public/js
!/public/barcode-images
!/public/import_demo_files
public/js/app.js
public/mix-manifest.json
