@import "../../components/variables";

.contents {
    background: #eef0f8 !important;
}

#root {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.toolbar {
    padding: 0 !important;
}

.btn-pink {
    color: $pink;
}

.accordion-button::after {
    //background-image: url("../media/download.svg");
    background-size: 10px;
    opacity: 0.5;
}

.modal-content {
    .modal-header {
        .close {
            border: none;
            font-size: 23px;
            background: none;
        }
    }
}

.object-fit-contain {
    object-fit: contain !important;
}

.object-fit-cover {
    object-fit: cover;
}

.brand-image {
    height: 140px;
}

.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.user_avatar {
    align-items: center;
    background: $primary;
    color: $white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    width: 80px;
    height: 80px;

    span {
        font-size: 15px;
    }
}

.custom-user-avatar {
    align-items: center;
    background: $primary;
    color: $white;
    border-radius: 50%;
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    font-size: 25px;
}

.image-input {
    img {
        object-fit: contain;
    }
}

.form-check-input {
    &:focus {
        outline: none !important;
        border-color: #ebedf3;
    }
}

.custom-label {
    width: fit-content;
}

.nav-item {
    .nav-link {
        padding: 0 !important;
    }
}

.custom-loading {
    color: $primary;
    height: 673px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-loading-detail {
    color: $primary;
    height: 565px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-company-logo {
    width: 68px !important;

    @media (max-width: 575px) {
        max-width: 68px !important;
    }
}

.custom-img {
    max-width: 40px;
    object-fit: contain;
}

.image>img {
    flex-shrink: 0;
    display: inline-block;
    object-fit: cover;
}

.custom-card-header {
    min-height: unset !important;
    padding: unset !important;
}

.custom-cash-card {
    border: 0 !important;
    border-radius: 10px !important;
    box-shadow: 0 4px 20px 1px rgb(0 0 0 / 6%), 0 1px 4px rgb(0 0 0 / 8%) !important;
}

.react-datepicker-popper {
    z-index: 999 !important;
}

.custom-line-height {
    line-height: 1.6;
    letter-spacing: 0.3px;
}

.form-group {
    .input-group {
        .form-control-solid {
            border-radius: 0.475rem !important;
        }

        .input-group-text {
            align-items: center !important;
            background-color: #e9ecef !important;
            border: 1px solid #ced4da !important;
            border-radius: 0 0.313rem 0.313rem 0 !important;
            color: #6c757d !important;
            display: flex !important;
            font-size: 0.875rem !important;
            font-weight: 400 !important;
            line-height: 1.5 !important;
            padding: 0.688rem 0.938rem !important;
            text-align: center !important;
            white-space: nowrap !important;
        }
    }
}

.custom-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.wrapper-res {
    @media (min-width: 1200px) {
        transition: padding-left 0.3s ease;
        padding-left: 4.563rem;
    }
}

.required:after {
    font-weight: 400 !important;
}

.custom-qty {
    max-width: 140px;

    input[type="number"] {
        width: 35px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type="number"] {
        -moz-appearance: textfield;
    }
}

.table> :not(caption)>*>* {
    vertical-align: middle !important;

    @media (max-width: 925px) {
        padding: 0.5rem 0.313rem !important;
    }
}

.logo-height {
    object-fit: contain;
}

.email-template-padding {
    padding-left: 100px !important;

    @media (max-width: 768px) {
        padding-left: 0px !important;
    }
}

.custom-text-center {
    text-align: center !important;
}

.profit-loss {
    padding: 20px 10px;
    background: white;
    margin-top: -1pc;
    border-radius: 0px 0px 10px 10px;
}

.sms_api {
    .sms-api-main {
        background-color: $primary;
        color: $white !important;
        padding: 2.5rem 2.5rem;

        ul {
            padding-left: 41px;

            li {
                list-style: disc;
            }
        }

        h1 {
            color: $white !important;
        }

        @media (max-width: 575px) {
            padding: 0.5rem 0.5rem !important;
        }
    }
}

.w-100px {
    width: 100px;
}

.w-117px {
    width: 117px;
}

.form-control[readonly] {
    background-color: hsl(0, 0%, 95%) !important;
}

// create product INPUT model
.model-dtn {
    top: 29px;
    right: 1px;
    border-radius: 0 0.475rem 0.475rem 0 !important;
    height: -webkit-fill-available;
    max-height: 45px;
}

// .dropdown-side-btn {
//     .css-tj5bde-Svg {
//         margin-right: 4rem;
//     }
// }

// Spinner loader


@keyframes load {
    from {
        left: -150px;
    }

    to {
        left: 100%;
    }
}

.maindata {
    width: 100%;
    padding: 25px;
}

.rowdata {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.dark-theme {
    .skeleton {
        background-color: #3a3a4f !important;

        &::before {
            background: linear-gradient(to right, transparent 0%, #7c7f87 50%, transparent 100%);
        }
    }

    .animated-background {
        background: linear-gradient(to right, #3a3a4f 8%, #7c7f87 18%, #3a3a4f 33%);
    }

    .rdt_Table> :nth-child(1) {
        background-color: #212125 !important;
    }
}

.skeleton {
    background: #e1e1e1;
    height: 133px;
    position: relative;
    overflow: hidden;
    width: 15%;
    margin: 1% 0%;

    &::before {
        content: "";
        display: block;
        position: absolute;
        left: -150px;
        top: 0;
        height: 100%;
        width: 150px;
        background: linear-gradient(to right, transparent 0%, #e8e8e8 50%, transparent 100%);
        animation: load 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    }
}


@keyframes placeHolderShimmer {
    0% {
        background-position: -800px 0
    }

    100% {
        background-position: 800px 0
    }
}


.animated-background {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background-color: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #bbbbbb 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 50px !important;
    width: 100%;
    position: relative;
}

.background-masker {
    background-color: #fff;
    position: absolute;
}


.showpassword {
    display: flex;
    align-items: center;
    padding: 0.688rem 0.938rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6c757d;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0.313rem;
    cursor: pointer;
}

.input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-select {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.payment_settings {
    input[type="checkbox"] {
        cursor: pointer;
    }
}

.setting-tab {
    .nav-item {
        .nav-link {
            border-left: 5px solid transparent;
            border-radius: 0 !important;
            padding: 10px 20px 10px 10px !important;
            transition: .3s all ease-in-out;
            color: #6c757d;
            font-size: 16px;
            margin-bottom: -1px;

            &:hover,
            &.active {
                color: #212529;
                border-left: 5px solid #6571ff !important;
                background: #e0e3ff !important;
            }
        }
    }
}

.pricing-card {
    border-radius: 20px !important;
}

.ml-20px {
    margin-left: 20px !important;
}

.ql-toolbar.ql-snow+.ql-container.ql-snow {
    height: 100px;
}

.ellipsis {
    text-overflow: ellipsis;
    width: 180px;
}

.pages-quill .ql-toolbar.ql-snow+.ql-container.ql-snow {
    height: 250px;
}

.btn-purple {
    border-color: #8635fd !important;
    background-color: #8635fd !important;
    color: white !important;

    &:hover {
        border-color: #8635fd !important;
        background-color: #7a28f3 !important;
    }
}

.text-purple {
    color: #8635fd !important;
}

.languague-dropdown .dropdown-menu {
    min-width: 200px !important;
}

.store-dropdown .dropdown-menu {
    transform: none !important;
    top: 60px !important;
    right: auto !important;
    min-width: 220px !important;
    border: 1px solid #eeeeee !important;
    border-radius: 5px !important;
    padding: 10px 0 !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px !important;
    max-height: 200px;
    overflow: auto;
}

.margin-top {
    margin-top: 70px !important;
}

.filter-dropdown .dropdown-menu {
    @media (max-width: 480px) {
        left: 0 !important;
    }
}

.table-button {
    @media (max-width: 480px) {
        padding: 10px 7px !important;
    }
}

.store-dropdown .btn {
    padding: 0.563rem 0 !important;
    width: 175px !important;
    height: 60px !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.store-name {
    width: 110px !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.pro-sidebar>.pro-sidebar-inner>.pro-sidebar-layout {
    overflow: visible !important;
}

.plan-warning {
    box-shadow: rgb(95 95 95 / 23%) 0px 0px 8px !important;
    border-radius: 15px !important;
    margin: 15px 0px 40px 0 !important;
    padding: 15px 20px !important
}

.tooltip.custom-light .tooltip-inner {
    background-color: #ffffff;
    color: #212529;
    border: 1px solid #dee2e6;
    padding: 0;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    width: 200px !important;
}

.store-tooltip-item {
    max-height: 150px !important;
    overflow: auto !important;
}

.audio-preview {
    height: 45px !important;
}

.pos-audio-button {
    min-width: max-content !important;
}

.search-image {
    width: 40px !important;
    height: 40px !important;
    border-radius: 4px !important;
    object-fit: cover !important;
}

.customer-display-table {
    max-height: 475px !important;
    overflow: auto !important;
}

.customer-display-carousel::after {
    background-color: rgba(33, 37, 41, 0) !important;
}

.carousel-img{
    height: 600px !important;
}   

.product-notes {
    min-height: 125px !important;
}

.right-content .header-btn-grp .nav-item {
    border-radius: 10px !important;
    height: 45px !important;
    width: 45px !important;
}

.pos-icon {
    height: 20px !important;
    width: 20px !important;
}

.recent-sale-modal {
    max-height: 500px !important;
    overflow: auto !important;
}